<div class="nav-bar">
  <%= link_to root_path do%>
    <%= image_tag("avotreservice.png", class: "logo") %>
  <% end %>
  <div class="d-flex">
    <% if user_signed_in? && current_user.admin %>
      <p class="admin"> admin </p>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "me déconnecter", destroy_user_session_path, method: :delete, class: "btn" %>
    <% else %>
      <%= link_to "me connecter", new_user_session_path, class: "btn" %>
    <% end %>
  </div>
</div>
