<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Un nouveau client s'est inscrit à <%= @club.name %>
    </h1>
    <p>
      Contact <%= @client.first_name %> <%= @client.last_name  %> au <%= @client.phone_number %>
    </p>
  </body>
</html>
