.container-club {
  width: 90vw;
  margin: 30px auto;
  background-color: white;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.075);
}
.title {
  margin: 10px 0;
}
.cards-club {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(179, 179, 179);
  border-bottom: none;
  margin-bottom: 10px;
}
.card-club {
  background-color: white;
  color: rgba(0, 0, 0, 0.76);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.club-name {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  margin-left: 10px;
}
.clients-number {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  padding-left: 10px;
  border-right: 1px solid rgb(172, 172, 172);
  border-left: 1px solid rgb(172, 172, 172);
}
.club-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40%;
  height: 100%;
  margin-left: 10px;
}





.container-client {
  width: 90vw;
  margin: 30px auto;
  background-color: white;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.068);
}
.cards-client {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(179, 179, 179);
  border-bottom: none;
  margin-bottom: 15px;
}
.card-client {
  background-color: white;
  color: rgba(0, 0, 0, 0.76);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.client-first-name {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-left: 10px;
}
.client-last-name {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid rgb(172, 172, 172);
}
.client-number {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-left: 10px;
  border-right: 1px solid rgb(172, 172, 172);
  border-left: 1px solid rgb(172, 172, 172);
}
.client-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 35%;
  height: 100%;
  margin-left: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.fiche-client {
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  padding: 10px;
  width: 400px;
  margin: 30px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infos-client {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
