.asso-name {
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 30px;
  font-family: 'Oswald', sans-serif;
}
.form-page {
  display: flex;
  justify-content: space-around;
}
.form {
  margin: auto;
}
.client-form {
  padding-top: 20vh;
}
.classic-form {
  padding-top: 2vh;
}

@media (min-width: 750px) {
  .form-logo {
    margin-top: 27vh;
    height: 200px;
  }
}
@media (min-width: 1000px) {
  .form-logo {
    margin-top: 25vh;
    height: 250px;
  }
}

@media (max-width: 750px) {
  .form {
    width: 60vw;
  }
  .asso-name {
    font-size: 3rem;
  }
}
@media (min-width: 750px) {
  .form {
    width: 30vw;
  }
  .client-form {
    margin: 0;
  }
  .no-photo {
    margin: auto;
  }
  .asso-name {
    font-size: 5rem;
  }
}


.form-actions {
  display: flex;
  justify-content: space-between;
}
.form-action {
  display: flex;
  justify-content: center;
}
