.asso-name {
  color: rgb(216, 0, 0) ;
}

.form {
  margin: auto;
}
@media (max-width: 750px) {
  .form {
    width: 60vw;
  }
}
@media (min-width: 750px) {
  .form {
    width: 30vw;
  }
}
.client-form {
  padding-top: 10vh;
}
.classic-form {
  padding-top: 2vh;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}
.form-action {
  display: flex;
  justify-content: center;
}
