// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "form";
@import "btns";

body {
  background-color: rgb(241, 241, 241);
}
p {
  margin: 0;
}
.pd-l {
  padding-left: 4px;
}
abbr {
  display: none;
}
