// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "form";
@import "btns";
@import "background";
@import "container";
@import "footer";
@import "icons";

body {
  background-color: rgb(241, 241, 241);
  height: 100vh;
}
p {
  margin: 0;
}
.pd-l {
  padding-left: 4px;
}
abbr {
  display: none;
}
h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px 0 40px;
}
h5, h6 {
  margin: 0;
}
